flask==3.0.2
openai==1.12.0
python-dotenv==1.0.1
gunicorn==21.2.0
Werkzeug==3.0.1
requests==2.31.0
pywin32==306
psutil==5.9.8
python-json-logger==2.0.7
healthcheck==1.10.1
watchdog==3.0.0
supervisor==4.2.5
pycryptodome==3.19.1
ecdsa==0.18.0
pyqt5==5.15.10
twisted==22.10.0
protobuf==4.25.2
pyopencl==2023.1.4
scrypt==0.8.20
pyqrcode==1.2.1
pypng==0.20220715.0
